body,
html{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

/***** HEADER *****/
header{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #000;
    border-bottom: 3px solid #06C;
}

header h1{
    margin: 0;
    padding: 20px 0 10px 0;
    font-weight: normal;
    font-size: 2.5em;
}

header p{
    padding-bottom: 20px;
    font-size: 1.4em;
    font-weight: lighter;
}


/***** MAIN *****/
main{
    text-align: center;
}

main h2{
    color: #000;
    margin : 1.2em auto;
    width: 50%;
    font-weight: normal;
    border-bottom: 2px solid #06C;
    padding: 15px;
}

/** FORM **/

form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border: 1px solid #06C;
    border-radius: 6px;
    margin-bottom: 3em;
}

#form-link{
    padding: 5px 0 15px 0;
    text-decoration: none;
    color: #000;
}

#form-link:hover{
    transition: 1.4s;
    color: #000;
}

.labelForm,
.inputForm,
.buttonForm{
    padding: 20px;
}

.labelForm{
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
}

#quantite{
    padding: 10px;
    text-align: center;
    border-width: 0;
    border-radius: 6px;
    color: #000;
    border : solid 1px rgb(130, 181, 233);
}

#button{
    background-color:#06C;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
    border-radius:8px;
    border-width: 0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 27px;
	text-decoration:none;
}

article{
    width: 40%;
    margin: auto;
    text-align: justify;
    border: 1px solid #06C;
    border-radius: 6px;
    margin-bottom: 3em;
}

article h3{
    font-size: 1em;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    text-align: center;
}

article p{
    padding: 20px;
    font-size: 1em;
    font-weight: lighter;
    line-height: 1.1em;
}

/***** FOOTER *****/
footer{
    border-top: 3px solid #06C;
    width: 80%;
    margin: auto;
    text-align: center;
    color: #000;

}

footer p{
    padding-bottom: 20px;
    font-size: 1.4em;
    margin: 1.2em auto;
}

#footer-link{
    text-decoration: none;
    color: grey;
    padding-bottom: 50px;
}

#footer-link:hover{
    transition : 1.4s;
    color: black;
}


/********* FORM CONTACT **********/

#form-contact{
    padding: 20px;
    margin-top: 5em;
    margin-bottom: 5em;
    border: none;
}

#form-contact label{
    font-size: 1.1em;
    text-transform: uppercase;
    color: #000;
    text-align: center;
    padding: 5px;
}

#form-contact input,
#form-contact textarea{
    font-family: 'Open Sans', sans-serif;
    color: #000;
    border-radius: 4px;
    border-width: 0;
    border : solid 1px rgb(130, 181, 233);
}

#form-contact #button{
    width: 40%;
    margin: auto;
    margin-top: 20px;
}